body {
    background-color: rgb(12, 12, 12);
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 500px;
    width: 500px;
    box-shadow: 0 0 20px #fff7;
    background-color: beige;
    border-radius: 30px;
}

button {
    background-color: transparent;
    border: 0;
    background-color: rgb(0, 128, 0, 0.2);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: 0.5s;
    
    &:hover {
        background-color: rgb(0, 128, 0);
        box-shadow: 0 0 100px 30px rgb(0, 255, 0);
    }
}
