body{
    padding-top:100px;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(146, 95, 194);
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    padding-left: 60px;
    padding-right: 60px;
    font-size:20px;
    & ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap:30px;
        & li{
            padding:15px;
            cursor:pointer;
            transition: 0.3s;
            &:hover{
                background-color:darkolivegreen;  
            }
        }
    }
}
section{
    height: calc(100vh - 100px);  
    position:relative; 
}

.hero{

    img{
    width: 100%;  
    height: 100%;
    object-fit: cover;
    }
    
    .background{
        background-color: rgba(34, 30, 30, 0.788);
        overlay:auto;
        width: 100%;
        height: 100%;
        position:absolute;
        top:0;
        left:0;
    }
    .cont{
        display:flex;
        flex-direction: column; 
        gap:20px;
        align-items:center;
        color:#fff;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        h1{
        font-size:50px;   
        }
        p{
            width: 70%;
            text-align:center;
        }
        .buttons{
            display:flex;
            justify-content: space-between;
            gap:40px;
            align-items: center;
        }
        input{
            display:flex;
            align-items: center;
            width:450px;
            height: 65px;
            color:rgb(155, 147, 147);
            background-color: rgba(0, 0, 0, 0.295);
            border:3px solid rgb(146, 95, 194);
            font-size:30px;
            padding:20px;
            border-radius: 10px;
        } 
        button{
            width: 150px;
            height: 65px;
            font-size:30px;
            color:#fff;
            background-color: rgb(146, 95, 194);
            border-radius: 10px;
            border:none;
            transition: 0.3s;
            cursor: pointer;
            font-weight:800;
            &:hover{
                background-color: #fff;
                color: rgb(146, 95, 194);
            }
        }
        }
        
}
